@mixin underline {
    width: 0;
    height: 2px;
    position: absolute;
    left: 0;
    transition: width 0.5s ease;
    top: 100%;
}
@mixin boxshadow {
    box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.03);
}

@mixin nav-list {
    @include boxshadow;
    list-style: none;
    padding-left: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: $white_color;
    width: 257px;
    height: 0px;
    overflow: hidden;
    transition: height 0.5s ease-in;
    visibility: hidden;
    z-index: 1;
}

@mixin nav-padding {
    padding: 9px 25px 10px 32px;
}

@mixin nav-link {
    color: $black_color;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    position: relative;
}


