* {
    box-sizing: inherit;
}

html {
    /* 1 rem = 10px */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.container-width {
    width: 1300px;
    margin: 0 auto;
}

.container-max-width {
    width: 1300px;
    margin: 0 auto;
}
