* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  /* 1 rem = 10px */
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Poppins", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-width {
  width: 1300px;
  margin: 0 auto;
}

.container-max-width {
  width: 1300px;
  margin: 0 auto;
}

.grid {
  width: 100%;
  display: block;
  padding: 0;
}

.grid.wide {
  max-width: 1300px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px;
}

.row.no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.col {
  padding-left: 4px;
  padding-right: 4px;
}

.row.no-gutters .col {
  padding-left: 0;
  padding-right: 0;
}

.c-0 {
  display: none;
}

.c-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.33333%;
          flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.c-o-1 {
  margin-left: 8.33333%;
}

.c-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.66667%;
          flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.c-o-2 {
  margin-left: 16.66667%;
}

.c-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

.c-o-3 {
  margin-left: 25%;
}

.c-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.c-o-4 {
  margin-left: 33.33333%;
}

.c-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.66667%;
          flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.c-o-5 {
  margin-left: 41.66667%;
}

.c-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.c-o-6 {
  margin-left: 50%;
}

.c-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.33333%;
          flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.c-o-7 {
  margin-left: 58.33333%;
}

.c-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66667%;
          flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.c-o-8 {
  margin-left: 66.66667%;
}

.c-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
}

.c-o-9 {
  margin-left: 75%;
}

.c-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.33333%;
          flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.c-o-10 {
  margin-left: 83.33333%;
}

.c-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.66667%;
          flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.c-o-11 {
  margin-left: 91.66667%;
}

.c-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.c-o-12 {
  margin-left: 100%;
}

/* >= Tablet */
@media (min-width: 740px) {
  .row {
    margin-left: -8px;
    margin-right: -8px;
  }
  .col {
    padding-left: 8px;
    padding-right: 8px;
  }
  .m-0 {
    display: none;
  }
  .m-1,
  .m-2,
  .m-3,
  .m-4,
  .m-5,
  .m-6,
  .m-7,
  .m-8,
  .m-9,
  .m-10,
  .m-11,
  .m-12 {
    display: block;
  }
  .m-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .m-o-1 {
    margin-left: 8.33333%;
  }
  .m-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .m-o-2 {
    margin-left: 16.66667%;
  }
  .m-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .m-o-3 {
    margin-left: 25%;
  }
  .m-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .m-o-4 {
    margin-left: 33.33333%;
  }
  .m-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .m-o-5 {
    margin-left: 41.66667%;
  }
  .m-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .m-o-6 {
    margin-left: 50%;
  }
  .m-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .m-o-7 {
    margin-left: 58.33333%;
  }
  .m-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .m-o-8 {
    margin-left: 66.66667%;
  }
  .m-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .m-o-9 {
    margin-left: 75%;
  }
  .m-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .m-o-10 {
    margin-left: 83.33333%;
  }
  .m-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .m-o-11 {
    margin-left: 91.66667%;
  }
  .m-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .m-o-12 {
    margin-left: 100%;
  }
}

/* PC medium resolution > */
@media (min-width: 1113px) {
  .row {
    margin-left: -12px;
    margin-right: -12px;
  }
  .row.sm-gutter {
    margin-left: -15px;
    margin-right: -15px;
  }
  .col {
    padding-left: 12px;
    padding-right: 12px;
  }
  .row.sm-gutter .col {
    padding-left: 15px;
    padding-right: 15px;
  }
  .l-0 {
    display: none;
  }
  .l-1,
  .l-2,
  .l-2-4,
  .l-3,
  .l-4,
  .l-5,
  .l-6,
  .l-7,
  .l-8,
  .l-9,
  .l-10,
  .l-11,
  .l-12 {
    display: block;
  }
  .l-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .l-o-1 {
    margin-left: 8.33333%;
  }
  .l-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .l-o-2 {
    margin-left: 16.66667%;
  }
  .l-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .l-o-3 {
    margin-left: 25%;
  }
  .l-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .l-o-4 {
    margin-left: 33.33333%;
  }
  .l-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .l-o-5 {
    margin-left: 41.66667%;
  }
  .l-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .l-o-6 {
    margin-left: 50%;
  }
  .l-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .l-o-7 {
    margin-left: 58.33333%;
  }
  .l-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .l-o-8 {
    margin-left: 66.66667%;
  }
  .l-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .l-o-9 {
    margin-left: 75%;
  }
  .l-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .l-o-10 {
    margin-left: 83.33333%;
  }
  .l-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .l-o-11 {
    margin-left: 91.66667%;
  }
  .l-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .l-o-12 {
    margin-left: 100%;
  }
}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
  .wide {
    width: 644px;
  }
}

/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {
  .wide {
    width: 984px;
  }
  .wide .row {
    margin-left: -12px;
    margin-right: -12px;
  }
  .wide .row.sm-gutter {
    margin-left: -15px;
    margin-right: -15px;
  }
  .wide .col {
    padding-left: 12px;
    padding-right: 12px;
  }
  .wide .row.sm-gutter .col {
    padding-left: 15px;
    padding-right: 15px;
  }
  .wide .l-0 {
    display: none;
  }
  .wide .l-1,
  .wide .l-2,
  .wide .l-2-4,
  .wide .l-3,
  .wide .l-4,
  .wide .l-5,
  .wide .l-6,
  .wide .l-7,
  .wide .l-8,
  .wide .l-9,
  .wide .l-10,
  .wide .l-11,
  .wide .l-12 {
    display: block;
  }
  .wide .l-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .wide .l-o-1 {
    margin-left: 8.33333%;
  }
  .wide .l-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .wide .l-o-2 {
    margin-left: 16.66667%;
  }
  .wide .l-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .wide .l-o-3 {
    margin-left: 25%;
  }
  .wide .l-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .wide .l-o-4 {
    margin-left: 33.33333%;
  }
  .wide .l-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .wide .l-o-5 {
    margin-left: 41.66667%;
  }
  .wide .l-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .wide .l-o-6 {
    margin-left: 50%;
  }
  .wide .l-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .wide .l-o-7 {
    margin-left: 58.33333%;
  }
  .wide .l-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .wide .l-o-8 {
    margin-left: 66.66667%;
  }
  .wide .l-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .wide .l-o-9 {
    margin-left: 75%;
  }
  .wide .l-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .wide .l-o-10 {
    margin-left: 83.33333%;
  }
  .wide .l-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .wide .l-o-11 {
    margin-left: 91.66667%;
  }
  .wide .l-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .wide .l-o-12 {
    margin-left: 100%;
  }
}

.underline-main-color.active {
  width: 100%;
}

.bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1c1c1c;
  height: 46px;
}

.bar-menu__icon {
  font-size: 2rem;
  color: #ffffff;
  margin-right: 28px;
}

.bar-logo {
  line-height: 100%;
}

.bar-logo__img {
  height: 36px;
  width: 113px;
}

.bar-contact {
  padding-left: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bar-contact__item {
  margin-left: 20px;
}

.bar-contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-size: 1.3rem;
  color: #ffffff;
}

.bar-contact__link:hover {
  color: #3fd0d4;
}

.bar-contact__icon {
  font-size: 1.4rem;
  color: #3fd0d4;
  padding-right: 13.5px;
  line-height: 1.4rem;
}

.bar-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  z-index: 10;
}

.bar-social-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  margin-right: 22px;
}

.bar-social-network__item {
  padding-right: 13.5px;
}

.bar-social-network__link {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bar-social-network__link:hover {
  color: #3fd0d4;
}

.bar-social-language {
  position: relative;
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #3abdc1;
  height: 100%;
  cursor: pointer;
}

.bar-social-language:hover .bar-social-language__dropdown {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.bar-social-language__link {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 500;
  margin-left: 8px;
}

.bar-social-language__icon {
  color: #ffffff;
  margin-left: 5px;
}

.bar-social-language__dropdown {
  padding: 16px 0;
  list-style: none;
  position: absolute;
  top: calc(100% - 10px);
  left: 0;
  right: 0;
  padding-left: 40px;
  background-color: #3fd0d4;
  z-index: -1;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.bar-social-language__item {
  padding: 10px 0;
}

.bar-social-language__link-dropdown {
  text-decoration: none;
  font-size: 1.3rem;
  color: #ffffff;
  font-weight: 500;
  position: relative;
}

.bar-social-language__link-dropdown:hover .underline-white {
  width: 100%;
}

.bar-social-language .underline-white {
  width: 0;
  height: 2px;
  position: absolute;
  left: 0;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
  top: 100%;
  top: calc(100% - 3px);
  background-color: #ffffff;
}

.bar-social-login {
  background-color: #3fd0d4;
  width: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  cursor: pointer;
}

.bar-social-login__icon {
  border: 2px solid #ffffff;
  border-radius: 50px;
  color: #ffffff;
  padding: 5px 4px 0;
  font-size: 1.3rem;
}

.header-logo {
  height: 80px;
  text-align: center;
  margin-top: 52px;
}

.header-logo__img {
  height: 100%;
}

.nav {
  position: relative;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 14px;
  padding-left: 0;
}

.nav__item {
  padding: 30px 37px;
  cursor: pointer;
}

.nav__item:first-child .nav__link {
  color: #3fd0d4;
  font-weight: 700;
}

.nav__item:hover .underline-main-color {
  width: 100%;
}

.nav__item:hover .nav__link {
  color: #3fd0d4;
}

.nav__link {
  color: #1c1c1c;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 600;
  position: relative;
}

.nav .underline-main-color {
  width: 0;
  height: 2px;
  position: absolute;
  left: 0;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
  top: 100%;
  background-color: #3fd0d4;
}

.nav .home-dropdown-menu {
  position: relative;
}

.nav .home-dropdown-menu__list {
  -webkit-box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.03);
          box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.03);
  list-style: none;
  padding-left: 0;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  width: 257px;
  height: 0px;
  overflow: hidden;
  -webkit-transition: height 0.5s ease-in;
  transition: height 0.5s ease-in;
  visibility: hidden;
  z-index: 1;
}

.nav .home-dropdown-menu:hover .home-dropdown-menu__list {
  height: 409px;
  visibility: visible;
}

.nav .home-dropdown-menu .dropdown-menu__item:nth-of-type(8) .dropdown-menu__link {
  color: #3fd0d4;
}

.nav .page-dropdown-menu {
  position: relative;
}

.nav .page-dropdown-menu__list {
  -webkit-box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.03);
          box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.03);
  list-style: none;
  padding-left: 0;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  width: 257px;
  height: 0px;
  overflow: hidden;
  -webkit-transition: height 0.5s ease-in;
  transition: height 0.5s ease-in;
  visibility: hidden;
  z-index: 1;
}

.nav .page-dropdown-menu:hover .page-dropdown-menu__list {
  height: 339px;
  visibility: visible;
}

.nav .destination-dropdown-menu {
  position: relative;
}

.nav .destination-dropdown-menu__list {
  -webkit-box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.03);
          box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.03);
  list-style: none;
  padding-left: 0;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  width: 257px;
  height: 0px;
  overflow: hidden;
  -webkit-transition: height 0.5s ease-in;
  transition: height 0.5s ease-in;
  visibility: hidden;
  z-index: 1;
}

.nav .destination-dropdown-menu:hover .destination-dropdown-menu__list {
  height: 164px;
  visibility: visible;
}

.nav .tours-dropdown-menu {
  position: relative;
}

.nav .tours-dropdown-menu__list {
  -webkit-box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.03);
          box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.03);
  list-style: none;
  padding-left: 0;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  width: 257px;
  height: 0px;
  overflow: hidden;
  -webkit-transition: height 0.5s ease-in;
  transition: height 0.5s ease-in;
  visibility: hidden;
  z-index: 1;
}

.nav .tours-dropdown-menu:hover .tours-dropdown-menu__list {
  height: 199px;
  visibility: visible;
}

.nav .blog-dropdown-menu {
  position: relative;
}

.nav .blog-dropdown-menu__list {
  -webkit-box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.03);
          box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.03);
  list-style: none;
  padding-left: 0;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  width: 257px;
  height: 0px;
  overflow: hidden;
  -webkit-transition: height 0.5s ease-in;
  transition: height 0.5s ease-in;
  visibility: hidden;
  z-index: 1;
}

.nav .blog-dropdown-menu:hover .blog-dropdown-menu__list {
  height: 164px;
  visibility: visible;
}

.nav .shop-dropdown-menu {
  position: relative;
}

.nav .shop-dropdown-menu__list {
  -webkit-box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.03);
          box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.03);
  list-style: none;
  padding-left: 0;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  width: 257px;
  height: 0px;
  overflow: hidden;
  -webkit-transition: height 0.5s ease-in;
  transition: height 0.5s ease-in;
  visibility: hidden;
  z-index: 1;
}

.nav .shop-dropdown-menu:hover .shop-dropdown-menu__list {
  height: 199px;
  visibility: visible;
}

.nav .element-dropdown-menu:hover .element-dropdown-menu__all-list {
  height: 461px;
  visibility: visible;
}

.nav .element-dropdown-menu__all-list {
  -webkit-box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.03);
          box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.03);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  position: absolute;
  width: 100vw;
  top: 100%;
  left: 0;
  padding: 28px 0 32px 80px;
  height: 0;
  visibility: hidden;
  -webkit-transition: height 0.5s ease-in;
  transition: height 0.5s ease-in;
  background-color: #ffffff;
  overflow: hidden;
  cursor: default;
  z-index: 1;
}

.nav .element-dropdown-menu__title {
  padding: 28px 80px 18px 0;
  margin-left: 32px;
  display: block;
  cursor: pointer;
}

.nav .element-dropdown-menu__title-link {
  position: relative;
  color: #3fd0d4;
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 1px;
}

.nav .element-dropdown-menu__list {
  list-style: none;
  padding-left: 0;
  width: 325px;
}

.nav .element-dropdown-menu .dropdown-menu__item {
  cursor: pointer;
}

.dropdown-menu__item {
  padding: 9px 25px 10px 32px;
}

.dropdown-menu__item:first-child {
  padding-top: 35px;
}

.dropdown-menu__item:hover .dropdown-menu__icon {
  color: #3fd0d4;
}

.dropdown-menu__link {
  text-decoration: none;
  font-size: 1.4rem;
  color: #1c1c1c;
  font-weight: 500;
  position: relative;
}

.underline-nav-color {
  width: 0;
  height: 2px;
  position: absolute;
  left: 0;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
  top: 100%;
  background-color: #3fd0d4;
  top: 100%;
}

.dropdown-menu__icon {
  float: right;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu:hover .dropdown-submenu__list {
  display: block;
}

.dropdown-submenu__list {
  -webkit-box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.03);
          box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.03);
  list-style: none;
  position: absolute;
  right: -100%;
  top: calc(100% - 60px);
  width: 257px;
  background-color: #ffffff;
  padding-bottom: 25px;
  padding-left: 0;
  display: none;
  -webkit-animation: fadein 1s ease;
          animation: fadein 1s ease;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 1100px;
  margin: 0 auto;
}

.slider__wrap {
  overflow: hidden;
}

.slider__logo {
  position: absolute;
  top: 50%;
  left: 35%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  height: 189px;
  opacity: 0;
}

.slider__logo.active {
  opacity: 1;
  -webkit-transition: opacity 2s ease;
  transition: opacity 2s ease;
}

.slider__big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 723px;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.slider__img-big {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.8;
  object-fit: cover;
}

.slider__img-big.active {
  opacity: 1;
  -webkit-transition: opacity 1s ease 0.5s;
  transition: opacity 1s ease 0.5s;
}

.slider__small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 349px;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.slider__img-small {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  opacity: 0.4;
  object-fit: cover;
  -webkit-transition: opacity 0.5s linear 0.3s;
  transition: opacity 0.5s linear 0.3s;
}

.slider__img-small.active {
  opacity: 1;
}

.slider__button {
  position: absolute;
  background-color: #ffffff;
  padding: 16px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.slider__button:hover {
  background-color: #3fd0d4;
}

.slider__button:hover .slider__button-link {
  color: #ffffff;
}

.slider__button-left {
  left: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slider__button-right {
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slider__button-link {
  text-decoration: none;
  font-size: 2.2rem;
  color: #3fd0d4;
}

.popular-tours-img {
  padding-top: 128px;
}

.popular-tours {
  padding-top: 114px;
  width: 635px;
}

.popular-tours__heading {
  margin: 0;
  font-size: 4rem;
  font-weight: 600;
  line-height: 4rem;
  letter-spacing: -2px;
}

.popular-tours__summary {
  font-size: 1.7rem;
  color: #505055;
  line-height: 3rem;
  margin: 16px 0 35px;
}

.popular-tours__title {
  margin: 30px 0 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 600;
  color: #1c1c1c;
}

.popular-tours__chart {
  height: 22px;
  background-color: #f0ede8;
  position: relative;
  width: 100%;
}

.popular-tours__chart-reality {
  background-color: #3fd0d4;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}

.popular-tours__chart-reality::before {
  content: "";
  display: block;
  height: 100%;
  width: 22px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #3abdc1;
  z-index: 1;
}

.popular-tours__chart-reality::after {
  content: "";
  display: block;
  height: 100%;
  width: 22px;
  position: absolute;
  left: 0;
  background-color: #3abdc1;
  z-index: 1;
}

.popular-tours__chart-reality-country {
  width: 0;
  overflow: hidden;
  -webkit-transition: width 0.5s linear;
  transition: width 0.5s linear;
}

.popular-tours__chart-reality-vineYard {
  width: 0;
  overflow: hidden;
  -webkit-transition: width 0.5s linear;
  transition: width 0.5s linear;
}

.popular-tours__chart-reality-wineTasting {
  width: 0;
  overflow: hidden;
  -webkit-transition: width 0.5s linear;
  transition: width 0.5s linear;
}

.single-picture {
  padding-top: 60px;
}

.the-best-tour {
  padding: 108px 0 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 635px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.the-best-tour__heading {
  width: 100%;
  margin: 0;
  line-height: 6.5rem;
  font-size: 6.5rem;
  color: #1c1c1c;
  font-weight: 600;
  letter-spacing: -2px;
  text-align: center;
}

.the-best-tour__subheading {
  font-size: 1.7rem;
  line-height: 2.8rem;
  color: #505050;
  width: 100%;
  text-align: center;
  margin: 12px 0 0;
}

.the-best-location {
  width: 302px;
  height: 302px;
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}

.the-best-location:hover .the-best-location__img {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.the-best-location__long {
  height: 635px;
}

.the-best-location__link {
  text-decoration: none;
  display: block;
  height: 100%;
}

.the-best-location__link::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(57%, rgba(0, 0, 0, 0)), color-stop(99%, rgba(0, 0, 0, 0.67)), to(rgba(0, 0, 0, 0.6)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 57%, rgba(0, 0, 0, 0.67) 99%, rgba(0, 0, 0, 0.6) 100%);
}

.the-best-location__img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.the-best-location__infor {
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 22px;
  left: 0;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 0 20px;
  z-index: 1;
}

.the-best-location__name {
  color: #ffffff;
}

.the-best-location__price {
  color: #ffffff;
}

.wine-detail {
  text-align: center;
}

.wine-detail__distance {
  padding: 131px 0 118px;
}

.wine-detail__number {
  font-size: 6.5rem;
  content: #1c1c1c;
  font-weight: bold;
  line-height: 6.5rem;
  font-weight: 600;
}

.wine-detail__title {
  font-size: 1.8rem;
  color: #1c1c1c;
  margin: 13px 0 0;
  font-weight: 600;
}

.wine-detail__subtitle {
  font-size: 1.4rem;
  color: #505050;
  line-height: 2.5rem;
  margin: 11px 0 0;
}

.travel-video {
  position: relative;
}

.travel-video__play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 25px;
  border-radius: 50px;
  background-color: #3fd0d4;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.travel-video__play:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.travel-video__icon {
  font-size: 2rem;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* mobile and tablet */
@media (max-width: 63.9375em) {
  .hide-on-mobile-tablet {
    display: none;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
  }
  .bar {
    background-color: #3fd0d4;
    height: 69px;
    margin: 0 auto;
    z-index: 10000;
    padding: 0 84px;
  }
  .nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #ffffff;
    border-bottom: 1px solid #ebebeb;
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
    z-index: -1;
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;
    height: 290px;
    overflow: auto;
  }
  .nav.active {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .nav__list {
    width: 600px;
    display: block;
    margin: 0 auto;
  }
  .nav__item {
    padding: 11.5px 0;
    border-bottom: 1px solid #ebebeb;
  }
  .popular-tours-img {
    padding: 70px 0 41px;
  }
  .popular-tours {
    padding-top: 0;
  }
  .wine-detail {
    padding-bottom: 40px;
    width: 300px;
    margin: 0 auto;
  }
}

/* tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
  .hide-on-tablet {
    display: none;
  }
  .slider {
    width: 600px;
    height: 335px;
    margin-top: 119px;
  }
  .slider__logo {
    width: 274px;
    height: 120px;
  }
  .slider__big {
    width: 384px;
    height: 100%;
  }
  .slider__small {
    width: 186px;
    height: 100%;
  }
  .single-picture {
    width: 600px;
    margin: 0 auto;
  }
  .single-picture img {
    width: 100%;
  }
  .popular-tours {
    width: 600px;
    margin: 0 auto;
  }
  .popular-tours-img {
    width: 600px;
    margin: 0 auto;
  }
}

/* mobile */
@media (max-width: 46.1875em) {
  .hide-on-mobile {
    display: none;
  }
  .slider {
    width: 300px;
    display: block;
    margin-top: 119px;
  }
  .slider__logo {
    width: 237px;
    height: 104px;
    top: 20%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
  .slider__big {
    width: 300px;
    height: 365px;
    margin-bottom: 30px;
  }
  .slider__small {
    width: 300px;
    height: 100%;
  }
  .bar {
    padding: 0 57px;
  }
  .single-picture {
    width: 300px;
    margin: 0 auto;
  }
  .single-picture img {
    width: 100%;
  }
  .popular-tours {
    width: 300px;
    margin: 0 auto;
  }
  .popular-tours-img {
    width: 300px;
    margin: 0 auto;
  }
  .popular-tours-img img {
    width: 300px;
  }
  .nav__list {
    width: 300px;
  }
  .the-best-tour {
    width: 300px;
    margin: 0 auto;
  }
  .the-best-location {
    margin: 0 auto 30px;
  }
}

@media (min-width: 64em) {
  .hide-on-laptop {
    display: none;
  }
}

.app {
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */